@charset "UTF-8"

// Import

@import "components/variables"
@import "components/layout"
@import "components/mixin"
@import "components/py-domain"

*
  margin: 0
  padding: 0

html
  color: $font_color
  font:
    size: $font_size_base
    weight: $font_weight_base
    family: $font_family
  background:
    color: $background_color

$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a:active, a:hover'

#{$a-tags}
  text-decoration: none
  color: rgb(3, 155, 229)

  .footer &
    color: #FFF9C4

#{$a-tags-hover}
  color: $accent_color
  @include transition(color 0.4s ease-in)

  .footer &
    color: $accent_color

@each $i in h1, h2, h3, h4, h5, h6
  #{$i}
    font-size: $font_size_h1
    $size_font_h1: $font_size_h1 - 0.3

    font-weight: $font_weight_base + 100
    margin: 20px 0

.headerlink
  font-size: 22px
  margin-left: 5px

#header
  @include box-shadow(0, 2px, 5px, rgba(0, 0, 0, 0.156863))
  background-color: $primary_color
  color: #fff
  padding: 10px $base_side_padding

.related
  padding: 20px $base_side_padding

  ul
    list-style: none

.footer
  background-color: $secondary_color
  color: #fff
  margin: 20px 0 0
  padding: 25px $base_side_padding
  text-align: center

.documentwrapper
  margin-bottom: 20px

  p, dd
    line-height: $line_height
    margin: 0.6rem 0

  dl
    margin: 0.3rem 1em

  dt
    font-weight: $font_weight_base + 300

  dd
    padding: 0 1em

  em
    color: $font_color_em
    font-style: normal

  strong
    color: $font_color_em
    font-weight: $font_weight_base + 300
    font-style: normal

  ul, ol
    list-style-position: inside
    line-height: $line_height

    li
      margin: 0.3rem 1em

table.docutils
  border: solid 1px #F5F5F5
  border-radius: $border-radius
  border-collapse: collapse
  width: 100%
  text-align: center
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)

thead tr
  border-width: 0

tr
  border: solid #E0E0E0
  border-width: 1px 0 0 0

td, th
  padding: 10px 10px
  border-width: 0

//.highlight
.literal-block-wrapper
  @include box-shadow(2px, 5px, 5px, rgba(0, 0, 0, 0.156863))
  border-radius: $border-radius
  padding: 0
  margin: 15px 0
  background-color: #E3F2FD !important
  width: 100%

  .highlight
    @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0.156863))
    padding: 15px 20px
    margin: 0
    border: none

  .highlighttable
    @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0.156863))
    border: none
    margin: 0
    padding: 15px 20px

    .highlight
      padding: 0

.highlight, .highlighttable
  background-color: #E3F2FD !important
  @include box-shadow(2px, 5px, 5px, rgba(0, 0, 0, 0.156863))
  border-radius: $border-radius
  padding: 15px 20px
  margin: 15px 0

  pre
    font-family: $font_family_for_code !important
    font-size: $font_size_base - 20% !important

  .highlight
    @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0.156863))
    padding: 0
    margin: 0
    border: none

.highlighttable
  width: 100%

  td.linenos, td.code
    padding: 0
    margin: 0

caption
  text-align: center
  margin-bottom: 5px

.code-block-caption
  text-align: center
  padding-top: 10px

.admonition
  @include box-shadow(2px, 5px, 5px, rgba(0, 0, 0, 0.156863))
  border-radius: $border-radius
  margin: 20px 0
  padding: 5px 20px
  color: #fff

.note
  background-color: #689F38

.warning
  background-color: #FF5252

.admonition-todo
  background-color: #2196F3

.sphinxsidebar

  li
    list-style-position: inside
    margin: 0.5rem 0.5em

.this-page-menu
  margin-top: 1em

#searchbox
  max-width: 280px
  margin: 40px 20px 0 8px
  border-bottom: 1px solid $secondary_color
  outline: 0
  color: $secondary_color

  &:hover
    border-bottom: 1px solid $accent_color
    color: $accent_color
    @include transition(0.4s ease-in)

  input
    border: none
    background: none
    outline: 0
    font-size: 100%

i.material-icons
  vertical-align: middle
  margin-right: 4px

